body {
	font-family: 'Copperplate Gothic Light';
	background-color: #f8f8f8;
	color: #222;
	margin: 0;
	padding: 0;
}

header, footer {
	background-color: #ff00cc;
	color: white;
	text-align: center;
	padding: 1em;
}

nav ul {
	list-style: none;
	background: #ccccff;
	margin: 0;
	padding: 0.5em;
	display: flex;
	justify-content: center;
	gap: 1em;
}

nav a {
	text-decoration: none;
	color: #007acc;
	font-weight: bold;
}

main {
	max-width: 900px;
	margin: auto;
	background: #99ffff;
	padding: 2em;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}